@import '~bootstrap/scss/buttons';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .icon {
    flex: 0 0 auto;
    transition: $transition-base;
    transition-property: fill;
  }
}

.btn-icon {
  padding: $input-btn-padding-y;

  &.btn-sm {
    padding: $input-btn-padding-y-sm;
  }

  &.btn-lg {
    padding: $input-btn-padding-y-lg;
  }
}

// Responsive button sizes

@each $breakpoint, $width in $grid-breakpoints {
  @include media-breakpoint-up($breakpoint) {
    .btn-#{$breakpoint}-sm {
      @include button-size(
        $btn-padding-y-sm,
        $btn-padding-x-sm,
        $btn-font-size-sm,
        $btn-line-height-sm,
        $btn-border-radius
      );
    }

    .btn-#{$breakpoint}-md {
      @include button-size(
        $btn-padding-y,
        $btn-padding-x,
        $btn-font-size,
        $btn-line-height,
        $btn-border-radius
      );
    }

    .btn-#{$breakpoint}-lg {
      @include button-size(
        $btn-padding-y-lg,
        $btn-padding-x-lg,
        $btn-font-size-lg,
        $btn-line-height-lg,
        $btn-border-radius
      );
    }
  }
}
