.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $btn-padding-y $btn-padding-x;
  font-family: $btn-font-family;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  border: $border-width solid transparent;
  border-radius: $btn-border-radius;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: $transition;
  transition-property: color, border-color, background-color, box-shadow,
    opacity;

  &:disabled,
  &.disabled {
    border-color: transparent;
    background-color: transparent;
    opacity: 0.5;
    cursor: default;
  }

  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):hover {
    color: var(--on-primary-container);
    background-color: var(--primary-container);
  }
}

.btn-link {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: inherit;
  border: none;
  color: inherit;
  background: none;
  appearance: none;
  cursor: pointer;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.btn-block {
  display: flex;
  width: 100%;
}

.btn-danger {
  color: var(--on-danger-container) !important;
  background-color: var(--danger-container) !important;

  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):hover {
    color: var(--on-danger) !important;
    background-color: var(--danger) !important;
  }
}

.btn-primary {
  color: var(--on-primary-container) !important;
  background-color: var(--primary-container) !important;

  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):hover {
    color: var(--on-primary) !important;
    background-color: var(--primary) !important;
  }
}

.btn-secondary {
  color: var(--on-secondary-container) !important;
  background-color: var(--secondary-container) !important;

  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):hover {
    color: var(--on-secondary) !important;
    background-color: var(--secondary) !important;
  }
}
