.card {
  display: block;
  padding: $card-padding-y $card-padding-x;
  border-radius: $card-border-radius;
  color: $card-color;
  background-color: $card-bg;
  transition: $transition;

  .card-text-muted {
    color: $card-color-muted;
  }

  .card-text-accent {
    color: $card-color-accent;
  }
}
