:root {
  --spacer: #{$spacer};
  --rem: #{$font-size-base};
  --h1-fs: calc(var(--rem) * #{$h1-multiplier});
  --h2-fs: calc(var(--rem) * #{$h2-multiplier});
  --h3-fs: calc(var(--rem) * #{$h3-multiplier});
  --h4-fs: calc(var(--rem) * #{$h4-multiplier});
  --h5-fs: calc(var(--rem) * #{$h5-multiplier});
  --h6-fs: calc(var(--rem) * #{$h6-multiplier});
}

@include media-max-width('md') {
  :root {
    --spacer: calc(#{$spacer} * 0.875);
    --rem: calc(#{$font-size-base} * 0.875);
  }
}
