@import '~vue2-datepicker/scss';

.mx-datepicker {
  width: 100%;
}

.mx-icon-calendar,
.mx-icon-clear {
  display: none;
}

.mx-input-wrapper {
  display: flex;
}

.mx-datepicker-main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: 0;
  padding: $dialog-padding-y $dialog-padding-x;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: none;
  color: inherit;
  background-color: $backdrop-color;
  box-shadow: none;
  z-index: $zindex-modal;
}

.mx-datepicker-content {
  padding: $dialog-content-padding-y $dialog-content-padding-x;
  border-radius: $dialog-border-radius;
  background-color: $dialog-bg;
}

.mx-datepicker-header {
  display: flex;
  align-items: center;
  padding: 0 0 $dialog-content-padding-y;
  border: none;

  .btn-close {
    margin-left: auto;
    padding: 0;
    border: none;
  }
}

.mx-datepicker-body {
  padding: 0;
}

.mx-datepicker-footer {
  padding: $dialog-content-padding-y 0 0;
  border: none;

  .mx-btn {
    padding: $btn-padding-y $btn-padding-x;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    border-radius: $btn-border-radius;
    border: $border-width;
    color: $dialog-button-color;
    border-color: $dialog-button-bg;
    background-color: $dialog-button-bg;
  }
}

.mx-calendar {
  max-width: 19.25rem;
  width: auto;
  padding: 0;
}

.mx-calendar-header {
  display: flex;
  height: auto;
  line-height: inherit;

  .mx-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.25rem;
    font-size: inherit;
    font-weight: inherit;
    color: $dialog-color-accent;
    transition: $transition;
    transition-property: color;

    &:hover {
      color: $dialog-color;
    }
  }

  & > .mx-btn {
    &::before,
    &::after {
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      display: block;
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      background-color: currentColor;
    }

    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 0;
    }

    & > [class*='mx-icon'] {
      width: 1.5rem;
      height: 1.5rem;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  .mx-btn-icon-double-left {
    order: 0;

    &::before,
    &::after {
      clip-path: path(
        'm18.41 7.41-1.41-1.41-6 6 6 6 1.41-1.41-4.58-4.59 4.58-4.59zm-6 0-1.41-1.41-6 6 6 6 1.41-1.41-4.58-4.59 4.58-4.59z'
      );
    }
  }

  .mx-btn-icon-left {
    order: 1;

    &::before,
    &::after {
      clip-path: path(
        'm15.41 16.58-4.58-4.58 4.58-4.59-1.41-1.41-6 6 6 6 1.41-1.42z'
      );
    }
  }

  .mx-calendar-header-label {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    order: 2;
    font-family: $font-family-alternate;
    font-size: $font-size-base * $h5-multiplier;
    font-weight: $font-weight-normal;

    .mx-btn {
      padding-top: 0;
      padding-bottom: 0;
      text-transform: capitalize;
    }
  }

  .mx-btn-icon-right {
    order: 3;

    &::before,
    &::after {
      clip-path: path(
        'M8.59 16.58L13.17 12L8.59 7.41L10 6L16 12L10 18L8.59 16.58Z'
      );
    }
  }

  .mx-btn-icon-double-right {
    order: 4;

    &::before,
    &::after {
      clip-path: path(
        'm5.59 7.41 1.41-1.41 6 6-6 6-1.41-1.41 4.58-4.59-4.58-4.59zm6 0 1.41-1.41 6 6-6 6-1.41-1.41 4.58-4.59-4.58-4.59z'
      );
    }
  }
}

.mx-calendar-content {
  height: auto;
}

.mx-table-date {
  th,
  td {
    height: 2.5rem;
    font-family: $font-family-alternate;
    font-size: $font-size-base * 0.875;

    &:nth-child(6),
    &:nth-child(7) {
      color: $datepicker-weekend-color;
    }
  }

  th {
    font-weight: $font-weight-medium;
    text-transform: capitalize;
  }

  .cell {
    & > * {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 99rem;
    }

    &:hover {
      color: $datepicker-active-color;
      background-color: transparent;

      & > * {
        background-color: $datepicker-active-bg;
      }
    }

    &.today {
      color: $datepicker-today-color;

      & > * {
        background-color: $datepicker-today-bg;
      }
    }

    &.active {
      color: $datepicker-selected-color;
      background-color: transparent;

      & > * {
        background-color: $datepicker-selected-bg;
      }
    }

    &.not-current-month {
      color: inherit;
      opacity: 0.25;
    }
  }
}

.mx-calendar-time {
  display: flex;
  flex-direction: column;
  background-color: $dialog-bg;
}

.mx-time-header {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  font-family: $font-family-alternate;
  font-size: $font-size-base * $h5-multiplier;
  font-weight: $font-weight-normal;
  border: none;
  color: $dialog-color;

  .mx-btn {
    padding-top: 0.15625rem;
    padding-bottom: 0.15625rem;

    &::before,
    &::after {
      display: none;
    }
  }
}

.mx-time-content {
  flex: 1 1 auto;
}

.mx-time-column {
  border: none;

  .mx-time-list {
    display: flex;
    flex-direction: column;
  }

  .mx-time-item {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.25rem;
    font-size: $font-size-base * 0.875;
    border-radius: 99rem;

    &.active {
      font-weight: inherit;
      color: $datepicker-today-color;
      background-color: $datepicker-today-bg;
    }
  }
}

.mx-zoom-in-down-enter-active,
.mx-zoom-in-down-leave-active {
  opacity: 1;
  transition: $transition;
  transition-property: opacity;

  .mx-datepicker-content {
    transform: translateY(0);
    transition: $transition;
    transition-property: transform;
  }
}

.mx-zoom-in-down-enter,
.mx-zoom-in-down-enter-from,
.mx-zoom-in-down-leave-to {
  opacity: 0;

  .mx-datepicker-content {
    transform: translateY(100vh);
  }
}
