.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: $dialog-border-radius;
  color: $dialog-color;
  background-color: $dialog-bg;
}

.dialog-body {
  padding: 0 $dialog-padding-x $dialog-padding-y;
}

.dialog-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 $dialog-padding-x $dialog-padding-y;

  & > * + * {
    margin-left: 0.5rem;
  }
}
