.form-control {
  display: block;
  width: 100%;
  padding: $btn-input-padding-y $btn-input-padding-x;
  font-size: $btn-input-font-size;
  line-height: $btn-input-line-height;
  border: $border-width solid $border-color;
  border-radius: $input-border-radius;
  color: inherit;
  background-color: transparent;
  transition: $transition-base;
  transition-property: color, border-color, background-color, box-shadow;
  appearance: none;

  &.form-control-lg {
    padding: $btn-input-padding-y-lg $btn-input-padding-x-lg;
  }

  &:not(:disabled):not(.disabled) {
    &:focus,
    &.focus {
      border-color: $input-border-color-focus;
      outline: none;
      box-shadow: 0 0 0 0.125rem rgba($primary, 0.1);
    }
  }

  &:disabled,
  &.disabled {
    color: $gray-600;
    border-color: $border-color;
    background-color: $border-color;
  }

  &[readonly],
  &.readonly {
    color: $gray-600;
    border-color: $border-color;
    background-color: $gray-200;
    appearance: textfield;
  }
}

.custom-select {
  display: block;
  position: relative;
  width: 100%;

  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: $btn-input-padding-x;
    border: ($btn-input-padding-x / 4) solid transparent;
    border-top-color: $body-color;
    transform: translateY(-25%);
    pointer-events: none;
  }

  .form-control {
    padding-left: $btn-input-padding-x * 0.75;
    padding-right: $btn-input-padding-x * 1.5;
    cursor: pointer;
  }
}

.custom-control-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  border: none;
  appearance: none;
}

.custom-control-label {
  position: relative;
  padding-left: calc(#{$btn-input-padding-x / 2} + #{$custom-control-indicator-size});
  font-size: $btn-input-font-size;
  line-height: $btn-input-line-height;

  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
    box-sizing: border-box;
    transition: $transition-base;
    transition-property: border-color, background-color;
  }

  &::before {
    left: 0;
    top: calc(#{$btn-input-font-size * $btn-input-line-height / 2} - #{$custom-control-indicator-size / 2});
    width: $custom-control-indicator-size;
    height: $custom-control-indicator-size;
    border: 2px solid $gray-400;
    background-color: $white;
  }

  &::after {
    left: 0.25rem;
    top: calc(#{$btn-input-font-size * $btn-input-line-height / 2} - #{$custom-control-indicator-size / 2} + 0.25rem);
    width: calc(#{$custom-control-indicator-size} - 0.5rem);
    height: calc(#{$custom-control-indicator-size} - 0.5rem);
    background-color: transparent;
  }
}

.custom-control-input:checked ~ .custom-control-label {
  &::before {
    border-color: $primary;
  }

  &::after {
    background-color: $primary;
  }
}

.custom-checkbox {
  .custom-control-label {
    &::before {
      border-radius: $btn-input-border-radius;
    }

    &::after {
      border-radius: $btn-input-border-radius / 2;
    }
  }
}

.custom-radio {
  .custom-control-label {
    &::before,
    &::after {
      border-radius: 99rem;
    }
  }
}
