.form-control {
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  border: none;
  border-radius: $input-border-radius $input-border-radius 0 0;
  color: $form-control-color;
  background-color: $form-control-bg;
  background-image: linear-gradient(
      to top,
      $form-label-active-color,
      $form-label-active-color
    ),
    linear-gradient(to top, $form-control-color, $form-control-color);
  background-position: bottom, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 0 $border-width * 2, 100% $border-width;
  transition: $transition;
  transition-property: background-color, background-size;
  appearance: none;

  &::placeholder {
    color: $form-placeholder-color;
  }

  &.focus,
  &:focus {
    color: $form-control-active-color;
    background-color: $form-control-active-bg;
    background-size: 100% $border-width * 2, 100% $border-width;
    box-shadow: none;
    outline: none;

    &::placeholder {
      color: $form-placeholder-active-color;
    }
  }

  &:disabled {
    color: var(--on-disabled-container);
    background-image: none;
    background-color: var(--disabled-container);
    cursor: default;
  }

  &.form-control-valid {
    color: $form-control-valid-color;
    background-color: $form-control-valid-bg;

    &::placeholder {
      color: $success;
    }
  }

  &:invalid,
  &.form-control-invalid {
    color: $form-control-invalid-color;
    background-color: $form-control-invalid-bg;

    &::placeholder {
      color: $danger;
    }
  }
}

.form-select {
  position: relative;

  .form-control {
    padding-right: calc(#{$input-padding-x * 1.5} + 0.5rem);
    appearance: none;
  }

  option {
    background-color: $card-bg;

    &:not(:disabled) {
      color: $card-color;
    }
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    bottom: 50%;
    right: $input-padding-x;
    width: 0.5rem;
    height: 0.375rem;
    background-color: var(--primary);
    transform: translateY(50%);
    transition: $transition;
    transition-property: transform;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }

  &:focus-within {
    &::before {
      transform: translateY(50%) rotate(-180deg);
    }
  }

  &.form-select-valid {
    &::before {
      background-color: $success;
    }
  }

  &:invalid,
  &.form-select-invalid {
    &::before {
      background-color: $danger;
    }
  }
}

.custom-color {
  position: relative;
  overflow: hidden;

  .custom-color-input {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    visibility: hidden;
    appearance: none;
  }
}

.custom-control {
  display: flex;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $body-color;

  .custom-control-input {
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
    margin: 0.25rem 0.5rem 0 0;
    border: $border-width solid $form-label-color;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    appearance: none;
    transition: $transition;
    transition-property: border-color, background-color;

    &:checked {
      background-color: $form-label-color;
    }
  }

  &.custom-checkbox {
    .custom-control-label {
      cursor: pointer;
    }

    .custom-control-input {
      border-radius: 0.125rem;
      cursor: pointer;

      &:checked {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' version='1.1' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9 20.42-6.21-6.21 2.83-2.83 3.38 3.39 9.88-9.89 2.83 2.83-12.71 12.71z' fill='%23fff'/%3E%3C/svg%3E");
      }
    }

    &.custom-switch {
      position: relative;

      .custom-control-label {
        position: relative;
        padding-left: 2rem;

        &::before,
        &::after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          border-radius: 99rem;
          transition: $transition;
          transition-property: background-color, opacity, transform;
        }

        &::before {
          top: calc(50% - 0.3125rem);
          width: 1.5rem;
          height: 0.625rem;
          background-color: var(--outline);
          opacity: 0.25;
        }

        &::after {
          top: calc(50% - 0.4375rem);
          width: 0.875rem;
          height: 0.875rem;
          background-color: var(--outline);
          transform: translateX(0);
        }
      }

      .custom-control-input {
        position: absolute;
        left: 0;
        top: 0;
        width: 1.5em;
        height: 1.5em;
        margin: 0 0.5em 0 0;
        border: none;
        background-color: transparent;
        background-image: none;
        visibility: hidden;

        &:checked ~ .custom-control-label {
          &::before {
            background-color: var(--primary-container);
            opacity: 1;
          }

          &::after {
            background-color: var(--primary);
            transform: translateX(0.625rem);
          }
        }
      }
    }
  }
}

.input-group {
  position: relative;
  width: 100%;

  .input-group-append {
    position: absolute;
    bottom: $input-padding-y;
    right: $input-padding-x;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: var(--primary);
  }
}

.form-button {
  padding: calc(#{$input-padding-y} - #{$border-width})
    calc(#{$input-padding-x} - #{$border-width});
  color: $form-button-color;
  background-color: $form-button-bg;

  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):hover {
    color: $form-button-active-color;
    background-color: $form-button-active-bg;
  }
}

.form-group {
  position: relative;
  display: block;
  flex: 1 1 100%;
  min-width: 0;
  min-height: calc(
    #{$label-font-size * $line-height-base} + #{$input-padding-y}
  );
  margin: 0 0 1rem;
  padding: 0;
  border: none;
  appearance: none;

  &:focus-within {
    .form-group-label {
      color: $form-label-active-color;
    }
  }

  &:not(.form-group-no-label) {
    .form-control {
      padding-top: $input-padding-y * 1.5;
      padding-bottom: $input-padding-y * 0.5;
    }

    .form-select {
      &::before {
        bottom: calc(50% - #{$input-padding-y * 0.5});
      }
    }

    .custom-color {
      .custom-color-label {
        padding-top: $input-padding-y * 1.5;
        padding-bottom: $input-padding-y * 0.5;
      }
    }

    .input-group-append {
      bottom: $input-padding-y * 0.5;
    }
  }

  &.form-group-disabled {
    .form-group-label {
      color: var(--on-disabled-container);
    }

    .input-group {
      .input-group-append {
        color: var(--on-disabled-container);
      }
    }
  }

  &.form-group-invalid {
    .form-group-label {
      color: $danger;
    }
  }

  &.form-group-valid {
    .form-group-label {
      color: $success;
    }
  }
}

.form-group-label {
  position: absolute;
  top: $input-padding-y * 0.5;
  left: $input-padding-x;
  right: auto;
  max-width: calc(100% - #{$input-padding-x * 2});
  font-size: $label-font-size;
  line-height: $line-height-base;
  color: $form-label-color;
  z-index: 1;
}

.form-invalid-feedback {
  margin: 0.25rem 0 0;
  padding: 0 0 0 $input-padding-x;
  font-size: $font-size-base * 0.75;
  color: $danger;
}
