.header {
  padding-left: $grid-gap * 0.5;
  padding-right: $grid-gap * 0.5;
  color: $header-color;
  background-color: $header-bg;
}

.header-main {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;

  a:hover {
    text-decoration: none;
  }
}

.header-secondary {
  display: flex;
  align-items: center;
  padding-top: $grid-gap * 0.5;
  padding-bottom: $grid-gap * 0.5;
}

.header-content {
  flex: 1 1 auto;
  max-width: 100%;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-header-action {
  align-self: flex-end;
  margin-left: auto;
  margin-right: -0.5rem;
  padding: 0.4375rem 0.5rem;
  border: none;
  color: $dialog-color-accent;
}

.btn-header-back {
  margin-right: 0.5rem;
  margin-left: -0.5rem;
  padding: 0.5rem;
  border: none;
}
