.header {
  color: var(--on-primary-container);
  background-color: var(--secondary-container);

  .btn {
    color: var(--primary);
  }
}

.header-main {
  padding: 1.5rem 0;
  text-align: center;
}

.header-secondary {
  display: flex;
  align-items: flex-end;
  padding: 1.25rem 0;
}
