.nav {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  & > * {
    flex: 1 1 0;
  }

  .nav-item {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: center;
    text-decoration: none;
    border: none;
    color: inherit;
    background-color: transparent;
    transition: $transition;
    transition-property: color;

    &:hover {
      text-decoration: none;
      color: var(--primary);
    }
  }
}
