@import '~bootstrap/scss/tables';

.table {
  line-height: 1.25;

  thead {
    font-size: $font-size-1;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $gray-500;
  }

  tbody tr {
    transition: $transition-base;
    transition-property: color;
  }

  /* Custom cell formats */
  .td-datetime {
    .time {
      font-size: 0.875em;
      color: $gray-500;

      &::before {
        display: inline;
        content: '@ ';
      }
    }
  }

  .td-sum {
    font-weight: $font-weight-bold;
    font-variant-numeric: tabular-nums;
  }

  /* Nested details table */
  .b-table-has-details {
    font-weight: $font-weight-bold;
  }

  .table-details-toggle {
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    padding: 0;
    text-decoration: none;
    border: none;
    border-radius: $rounded-pill;
    color: $gray-300;

    &::before,
    &::after {
      display: block;
      content: '';
      position: absolute;
      left: calc(50% - 0.5rem);
      top: calc(50% - 1px);
      width: 1rem;
      height: 2px;
      background-color: currentColor;
      transition: $transition-base;
    }

    &::after {
      transform: rotate(-90deg);
    }

    &.open {
      color: inherit;

      &::before {
        transform: rotate(180deg);
      }

      &::after {
        transform: rotate(0);
      }
    }

    &:focus,
    &.focus {
      background-color: rgba($body-color, 0.05);
      box-shadow: none;
    }
  }

  .table-details-wrapper {
    padding: 0;
  }

  &.table-details {
    background-color: $white;
    border-bottom: $border-width * 2 solid $border-color;
  }
}
