.table {
  width: 100%;
  margin-bottom: $spacer;
  font-size: $font-size-1;
  line-height: 1.33333;
  text-align: left;
  border: none;
  border-collapse: collapse;

  th {
    padding: 0.875rem 1rem;
    vertical-align: top;
    border: none;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  td {
    padding: 0.75rem 1rem;
    vertical-align: top;
    border: none;
  }

  thead th {
    border-bottom: $border-width solid $border-color;

    &.sortable {
      cursor: pointer;
    }
  }
}

.table-fixed {
  table-layout: fixed;
}

.table-striped {
  tbody tr:nth-of-type(even) {
    background-color: $gray-100;
  }
}

@media (max-width: 991.98px) {
  .table {
    th,
    td {
      .icon {
        display: none;
      }
    }
  }
}

@media (min-width: 992px) {
  .table {
    font-size: $font-size-3;
    line-height: $line-height-base;

    th {
      padding: 1rem;
    }

    td {
      padding: 0.875rem 1rem;
    }
  }
}

@each $color, $value in $theme-colors {
  .table-#{$color} {
    background-color: rgba($value, 0.1) !important;
  }
}
