/* Basic fade in-out */

.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition;
  transition-property: opacity;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Drawer */

.drawer-enter-active,
.drawer-leave-active {
  transition: $transition;
  transition-property: opacity, transform;
}
.drawer-enter {
  transform: translateX(-100%);
}
.drawer-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

/* Drawer backdrop */

.drawer-backdrop-enter-active,
.drawer-backdrop-leave-active {
  transition: $transition;
  transition-property: opacity, transform;
}
.drawer-backdrop-enter {
  opacity: 0;
}
.drawer-backdrop-leave-to {
  opacity: 0;
}

/* Dialog: fullscreen */

.dialog-fullscreen-enter-active,
.dialog-fullscreen-leave-active {
  transition: $transition;
  transition-property: opacity, transform;
  transition-duration: 0.3s;
}
.dialog-fullscreen-enter {
  border-radius: 1rem;
  overflow: hidden;
  transform: translate(100%, 100%) scale(0);
  transform-origin: bottom right;
}
.dialog-fullscreen-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
