/* Drawer */

// Drawer content

.drawer-enter-active,
.drawer-leave-active {
  transition: $transition;
  transition-property: opacity, transform;
}
.drawer-enter {
  transform: translateX(-100%);
}
.drawer-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

// Drawer backdrop

.drawer-backdrop-enter-active,
.drawer-backdrop-leave-active {
  transition: $transition;
  transition-property: opacity, transform;
}
.drawer-backdrop-enter {
  opacity: 0;
}
.drawer-backdrop-leave-to {
  opacity: 0;
}

/* Fade in-out */

.fade-enter-active,
.fade-leave-active {
  transition: $transition;
  transition-property: opacity;
  transition-duration: 0.1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Form feedback text */

.form-feedback-enter-active,
.form-feedback-leave-active {
  transition: $transition;
  transition-property: opacity;
  transition-duration: 0.15s;
}
.form-feedback-enter,
.form-feedback-leave-to {
  opacity: 0;
}

/* Page */

.page-enter-active,
.page-leave-active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: transform 0.15s ease-in-out;
}
.page-enter-active {
  transition-delay: 0.05s;
}
.page-enter {
  transform: translateX(100%);
}
.page-leave-to {
  transform: translateX(-100%);
}

/* Toast */

.toast-enter-active,
.toast-leave-active {
  transition: $transition;
  transition-property: box-shadow, transform;
  transition-duration: 0.15s;
}
.toast-enter,
.toast-leave-to {
  transform: translateX(101vw);
  box-shadow: none;
}
