h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $font-family-alternate;
  font-weight: $font-weight-normal;
  line-height: $line-height-heading;
}
h1,
.h1 {
  font-size: $h1-multiplier * $font-size-base;
}
h2,
.h2 {
  font-size: $h2-multiplier * $font-size-base;
}
h3,
.h3 {
  font-size: $h3-multiplier * $font-size-base;
}
h4,
.h4 {
  font-size: $h4-multiplier * $font-size-base;
}
h5,
.h5 {
  font-size: $h5-multiplier * $font-size-base;
}
h6,
.h6 {
  font-size: $h6-multiplier * $font-size-base;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  transition: $transition;
  transition-property: color;

  &:link {
    text-decoration: none;
    color: inherit;
  }

  &:visited {
    color: inherit;
  }

  &:active {
    text-decoration: none;
    color: var(--secondary);
  }

  &:hover {
    text-decoration: underline;
    color: var(--primary);
  }
}
