/* Color system */

$white: #ffffff;
$black: #000;

$primary-10: #21005d;
$primary-20: #381e72;
$primary-30: #4f378b;
$primary-40: #6750a4;
$primary-50: #7f67be;
$primary-60: #9a82db;
$primary-70: #b69df8;
$primary-80: #d0bcff;
$primary-90: #eaddff;
$primary-95: #f6edff;
$primary-99: #fffbfe;

$secondary-10: #1d192b;
$secondary-20: #332d41;
$secondary-30: #4a4458;
$secondary-40: #625b71;
$secondary-50: #7a7289;
$secondary-60: #958da5;
$secondary-70: #b0a7c0;
$secondary-80: #ccc2dc;
$secondary-90: #e8def8;
$secondary-95: #f6edff;
$secondary-99: #fffbfe;

$tertiary-10: #31111d;
$tertiary-20: #492532;
$tertiary-30: #633b48;
$tertiary-40: #7d5260;
$tertiary-50: #986977;
$tertiary-60: #b58392;
$tertiary-70: #d29dac;
$tertiary-80: #efb8c8;
$tertiary-90: #ffd8e4;
$tertiary-95: #ffecf1;
$tertiary-99: #fffbfa;

$neutral-10: #1c1b1f;
$neutral-20: #313033;
$neutral-30: #484649;
$neutral-40: #605d62;
$neutral-50: #787579;
$neutral-60: #939094;
$neutral-70: #aeaaae;
$neutral-80: #c9c5ca;
$neutral-90: #e6e1e5;
$neutral-95: #f4eff4;
$neutral-99: #fffbfe;

$neutral-variant-10: #1d1a22;
$neutral-variant-20: #322f37;
$neutral-variant-30: #49454f;
$neutral-variant-40: #605d66;
$neutral-variant-50: #79747e;
$neutral-variant-60: #938f99;
$neutral-variant-70: #aea9b4;
$neutral-variant-80: #cac4d0;
$neutral-variant-90: #e7e0ec;
$neutral-variant-95: #f5eefa;
$neutral-variant-99: #fffbfe;

$error-10: #410e0b;
$error-20: #601410;
$error-30: #8c1d18;
$error-40: #b3261e;
$error-50: #dc362e;
$error-60: #e46962;
$error-70: #ec928e;
$error-80: #f2b8b5;
$error-90: #f9dedc;
$error-95: #fceeee;
$error-99: #fffbf9;

$success-60: #83b588;
$success-80: #b8efbd;

$category-grocery: #cb1245;
$category-household: #004080;
$category-lunch: #ff0080;
$category-transportation: #008080;
$category-communication: #008000;
$category-misc-incomes: #00ff40;

/* Typography */

$font-family-base: 'Roboto', sans-serif;
$font-family-alternate: 'Rubik', sans-serif;
$font-family-monospace: 'Fira Code', monospace;

$font-size-base: 1rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 800;

$line-height-base: 1.5;
$line-height-heading: 1.2;

$h1-multiplier: 2.5;
$h2-multiplier: 2;
$h3-multiplier: 1.625;
$h4-multiplier: 1.375;
$h5-multiplier: 1.25;
$h6-multiplier: 1;

/* Options */

$border-width: 1px;
$transition: all 0.2s ease-in-out;

/* Shadows */

$shadow-1: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12),
  0px 0px 2px rgba(0, 0, 0, 0.14);
$shadow-2: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
  0px 0px 4px rgba(0, 0, 0, 0.14);
$shadow-3: 0px 1px 8px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
  0px 3px 3px rgba(0, 0, 0, 0.14);
$shadow-4: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12),
  0px 2px 4px rgba(0, 0, 0, 0.14);
$shadow-6: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12),
  0px 6px 10px rgba(0, 0, 0, 0.14);
$shadow-8: 0px 4px 15px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12),
  0px 8px 10px rgba(0, 0, 0, 0.14);
$shadow-9: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12),
  0px 9px 12px rgba(0, 0, 0, 0.14);
$shadow-12: 0px 7px 8px rgba(0, 0, 0, 0.2), 0px 5px 22px rgba(0, 0, 0, 0.12),
  0px 12px 17px rgba(0, 0, 0, 0.14);
$shadow-16: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 6px 30px rgba(0, 0, 0, 0.12),
  0px 16px 24px rgba(0, 0, 0, 0.14);
$shadow-24: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12),
  0px 24px 38px rgba(0, 0, 0, 0.14);

/* Buttons */

$btn-padding-y: 0.5625rem;
$btn-padding-x: 0.75rem;
$btn-border-radius: 0.25rem;

/* Cards */

$card-margin-bottom: 0.5rem;
$card-padding-x: 1rem;
$card-padding-y: 0.75rem;
$card-border-radius: 0.75rem;

/* Navbar */

$navbar-padding-x: 1rem;
$navbar-padding-y: 0.75rem;
$navbar-icon-padding-x: 0.25rem;
$navbar-icon-padding-y: 0.25rem;
$navbar-icon-spacer: 0.25rem;

/* Nav drawer */

$nav-drawer-padding-x: 0.75rem;
$nav-drawer-padding-y: 0.75rem;
$nav-drawer-item-padding-x: 0.75rem;
$nav-drawer-item-padding-y: 1rem;

/* Grid */

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  4: 0.25rem,
  8: 0.5rem,
);
