// Color system

$white: #fff;
$gray-100: #f7f7f8;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #8d8c97;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$orange: #ff7124;

$primary: #0083b0;
$primary-light: #00b4db;
$primary-dark: #005f80;
$secondary: $orange;
$light: $gray-100;
$dark: $gray-800;
$border: $gray-200;

$theme-colors: (
  'white': $white,
  'black': $black,
  'primary': $primary,
  'primary-light': $primary-light,
  'secondary': $secondary,
  'light': $light,
  'dark': $dark,
  'border': $border
);

$yiq-text-dark: $gray-900;
$yiq-text-light: $white;
$yiq-contrasted-threshold: 150;

// Options

$enable-responsive-font-sizes: true;
$rfs-factor: 99999;

$enable-validation-icons: false;
// $enable-rounded: false;
$transition-base: all 0.15s ease-out;
$body-bg: $white;
$body-color: $gray-900;
$border-width: 1px;
$border-color: $border;
$rounded-pill: 99rem;

$transition-collapse: height 0.2s ease-in-out;

$border-radius: 0.375rem;
$border-radius-sm: 0.125rem;
$border-radius-lg: 0.75rem;

$box-shadow-sm: 0 0.25rem 0.5rem rgba($gray-900, 0.08);
$box-shadow: 0 0.25rem 1.5rem rgba($gray-900, 0.12);
$box-shadow-lg: 0 0.25rem 7.5rem rgba($gray-900, 0.08);

$btn-box-shadow: none;

// Spacing

$spacer: 1rem;
$spacers: (
  0: 0,
  2: 0.125rem,
  4: 0.25rem,
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  24: 1.5rem,
  32: 2rem,
  40: 2.5rem,
  48: 3rem,
  56: 3.5rem,
  64: 4rem
);

// Sizes

$sizes: (
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  40: 40%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
);

// Grid

$grid-gutter-width: 1.5rem;
$grid-row-columns: 12;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1560px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1164px,
  xxl: 1440px
);

// Fonts

$font-family-sans-serif: 'Manrope', sans-serif;
$font-family-alternate: $font-family-sans-serif;
$font-family-monospace: 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;

$font-size-base: 1rem;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$line-height-base: 1.5;
$lead-font-size: ($font-size-base * 1.125);
$lead-font-weight: $font-weight-normal;
$small-font-size: 75%;
$text-muted: $gray-500;

$font-size-0: $font-size-base * 0.625;
$font-size-1: $font-size-base * 0.75;
$font-size-2: $font-size-base * 0.875;
$font-size-3: $font-size-base;
$font-size-4: $font-size-base * 1.125;
$font-size-5: $font-size-base * 1.25;
$font-size-6: $font-size-base * 1.5;

$headings-font-family: $font-family-alternate;
$headings-margin-bottom: 1rem;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.375;
$h6-font-size: $font-size-base * 1.125;

$headings-font-weight: $font-weight-medium;

// Tables

$table-cell-padding: 0.625rem;
$table-cell-padding-x: 1.25rem;
$table-cell-padding-y: 0.75rem;
$table-cell-padding-sm: 0.25rem;
$table-cell-padding-x-sm: 0.75rem;
$table-cell-padding-y-sm: 0.375rem;
$table-accent-bg: $gray-100;
$table-head-bg: $gray-100;
$table-head-color: $gray-800;
$table-th-font-weight: $font-weight-medium;

$table-striped-order: even;

// Buttons + Forms

$input-btn-font-size: $font-size-base;
$input-btn-font-size-sm: $font-size-base * 0.875;
$input-btn-font-size-lg: $font-size-base * 1.125;

$input-btn-line-height: $line-height-base;
$input-btn-line-height-lg: $line-height-base * $input-btn-font-size / $input-btn-font-size-lg;
$input-btn-padding-y: 0.6875rem;
$input-btn-padding-y-sm: 0.1875rem;
$input-btn-padding-y-lg: 0.9375rem;
$input-btn-padding-x: 1.5rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-padding-x-lg: 3rem;

// Buttons

$btn-focus-width: 0.125rem;
$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius-sm;
$btn-border-radius-lg: $btn-border-radius;

// Forms

$label-margin-bottom: 0.25rem;

$input-padding-x: 1rem;
$input-padding-x-sm: 1rem;
$input-padding-x-lg: 1rem;

$input-color: $body-color;
$input-border-color: $gray-200;
$input-focus-border-color: $gray-400;
$input-placeholder-color: $gray-500;

$custom-control-spacer-x: 0.5rem;
$custom-control-cursor: pointer;
$custom-control-gutter: 0.5rem;

// Cards

$card-spacer-y: 1rem;
$card-spacer-x: 1rem;
$card-border-width: 0;
$card-border-radius: 0;
$card-cap-bg: null;

$card-img-overlay-padding: 1rem;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-padding-x: 1rem;
$dropdown-padding-y: 1rem;
$dropdown-font-size: $font-size-2;
$dropdown-border-color: $gray-200;
$dropdown-box-shadow: $box-shadow;

$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $body-color;
$dropdown-link-hover-bg: $gray-200;

$dropdown-link-active-color: $body-color;
$dropdown-link-active-bg: $gray-400;

$dropdown-link-disabled-color: $gray-400;

$dropdown-item-padding-y: 0.5rem;
$dropdown-item-padding-x: 1rem;

// Pagination

$pagination-padding-y: $input-btn-padding-y;
$pagination-padding-x: $input-btn-padding-y + 0.5rem;
$pagination-padding-y-sm: $input-btn-padding-y-sm;
$pagination-padding-x-sm: $input-btn-padding-y-sm + 0.5rem;
$pagination-padding-y-lg: $input-btn-padding-y-lg;
$pagination-padding-x-lg: $input-btn-padding-y-lg + 0.5rem;
$pagination-line-height: $input-btn-line-height;

$pagination-color: $secondary;
$pagination-bg: transparent;
$pagination-border-width: $border-width;
$pagination-border-color: $gray-200;

$pagination-focus-box-shadow: none;
$pagination-focus-outline: 0;

$pagination-hover-color: $secondary;
$pagination-hover-bg: $pagination-border-color;
$pagination-hover-border-color: $pagination-border-color;

$pagination-active-color: $white;
$pagination-active-bg: $secondary;
$pagination-active-border-color: $secondary;

$pagination-disabled-color: $pagination-border-color;
$pagination-disabled-bg: transparent;
$pagination-disabled-border-color: $pagination-border-color;

// Misc

$header-height: 0;
$header-height-lg: 5.75rem;

$navbar-height: 8rem;
$navbar-width-collapse: 3rem;
$navbar-width-expand: 22.5rem;
