/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

/* Custom variables */

@import 'variables';

/* Bootstrap base */

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/grid';

/* Bootstrap customization */

@import 'buttons';
@import 'button-group';
@import 'forms';
@import 'modal';
@import 'nav';
@import 'pagination';
@import 'tables';

/* Custom styles */

@import 'svg';
@import 'utilities';
@import 'transitions';

.has-navbar {
  padding-bottom: $navbar-height;

  @include media-breakpoint-up(lg) {
    padding-bottom: 0;
    padding-right: $navbar-width-collapse;
  }

  @include media-breakpoint-up(xl) {
    padding-right: $navbar-width-expand;
  }
}

/* Bootstrap-Vue */

@import '~bootstrap-vue/src/index.scss';
