*,
html {
  box-sizing: border-box;
}

body {
  font-size: var(--rem);
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: var(--body-color);
  background-color: var(--body-bg);
}

hr {
  width: 100%;
  margin: 1rem auto;
  border-width: 0 0 $border-width;
  border-style: solid;
  border-color: var(--border-color);
}
