/* Default theme -- light */

@mixin theme-light() {
  /* GLOBAL */

  --background: #{$neutral-99};
  --on-background: #{$neutral-10};

  --primary: #{$primary-40};
  --on-primary: #{$white};

  --primary-container: #{$primary-90};
  --on-primary-container: #{$primary-10};

  --secondary: #{$secondary-40};
  --on-secondary: #{$white};

  --secondary-container: #{$secondary-90};
  --on-secondary-container: #{$secondary-10};

  --tertiary: #{$tertiary-40};
  --on-tertiary: #{$white};

  --tertiary-container: #{$tertiary-90};
  --on-tertiary-container: #{$tertiary-10};

  --surface: #{$primary-95};
  --on-surface: #{$primary-10};

  --surface-variant: #{$secondary-95};
  --on-surface-variant: #{$secondary-10};

  --outline: #{$neutral-50};
  --success: #{$success-60};
  --danger: #{$error-60};
}

html,
:root.theme-light {
  @include theme-light();
}

@media (prefers-color-scheme: light) {
  :root {
    @include theme-light();
  }
}

/* Default theme -- dark */

@mixin theme-dark() {
  /* GLOBAL */
  --background: #{$neutral-10};
  --on-background: #{$neutral-90};

  --primary: #{$primary-80};
  --on-primary: #{$primary-20};

  --primary-container: #{$primary-30};
  --on-primary-container: #{$primary-90};

  --secondary: #{$secondary-80};
  --on-secondary: #{$secondary-20};

  --secondary-container: #{$secondary-30};
  --on-secondary-container: #{$secondary-90};

  --tertiary: #{$tertiary-80};
  --on-tertiary: #{$tertiary-20};

  --tertiary-container: #{$tertiary-30};
  --on-tertiary-container: #{$tertiary-90};

  --surface: #{$primary-10};
  --on-surface: #{$primary-90};

  --surface-variant: #{$secondary-20};
  --on-surface-variant: #{$secondary-95};

  --outline: #{$neutral-60};
  --success: #{$success-80};
  --danger: #{$error-80};
}

:root.theme-dark {
  @include theme-dark();
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark();
  }
}
