/* Default theme -- light */

@mixin theme-light() {
  /* GLOBAL */

  --background: #{$neutral-99};
  --on-background: #{$neutral-10};

  --primary: #{$primary-40};
  --on-primary: #{$primary-99};

  --primary-container: #{$primary-95};
  --on-primary-container: #{$primary-10};

  --secondary: #{$secondary-40};
  --on-secondary: #{$secondary-99};

  --secondary-container: #{$secondary-90};
  --on-secondary-container: #{$secondary-10};

  --tertiary: #{$tertiary-40};
  --on-tertiary: #{$tertiary-99};

  --tertiary-container: #{$tertiary-90};
  --on-tertiary-container: #{$tertiary-10};

  --tertiary-light: #{$tertiary-60};
  --on-tertiary-light: #{$tertiary-99};

  --surface: #{$neutral-99};
  --on-surface: #{$neutral-10};

  --surface-variant: #{$neutral-variant-90};
  --on-surface-variant: #{$neutral-variant-30};

  --surface-variant-light: #{$neutral-variant-95};
  --on-surface-variant-light: #{$neutral-variant-30};

  --outline: #{$neutral-variant-50};

  --muted: #{$secondary-50};
}

html,
:root.theme-light {
  @include theme-light();
}

@media (prefers-color-scheme: light) {
  :root {
    @include theme-light();
  }
}

/* Default theme -- dark */

@mixin theme-dark() {
  /* GLOBAL */
  --background: #{$neutral-10};
  --on-background: #{$neutral-80};

  --primary: #{$primary-80};
  --on-primary: #{$primary-20};

  --primary-container: #{$primary-20};
  --on-primary-container: #{$primary-90};

  --secondary: #{$secondary-80};
  --on-secondary: #{$secondary-20};

  --secondary-container: #{$secondary-30};
  --on-secondary-container: #{$secondary-90};

  --tertiary: #{$tertiary-80};
  --on-tertiary: #{$tertiary-20};

  --tertiary-container: #{$tertiary-30};
  --on-tertiary-container: #{$tertiary-90};

  --tertiary-light: #{$tertiary-60};
  --on-tertiary-light: #{$tertiary-20};

  --surface: #{$neutral-10};
  --on-surface: #{$neutral-80};

  --surface-variant: #{$neutral-variant-30};
  --on-surface-variant: #{$neutral-variant-80};

  --surface-variant-light: #{$neutral-variant-30};
  --on-surface-variant-light: #{$neutral-variant-80};

  --outline: #{$neutral-variant-60};

  --muted: #{$secondary-80};
}

:root.theme-dark {
  @include theme-dark();
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark();
  }
}
